:root {
  --creamy-white: #F4F8E1;
  --black: #484848;
}

body {
  background-color: #F5F5F5;
  color: #484848;
  padding: 1rem;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-family: "Quicksand", sans-serif;
}

h3 {
  font-size: 1.375rem;
}

p {
  font-family: "Manrope", sans-serif;
}

ion-icon {
  /* background-color: #E34D28 !important; */
  border-radius: 50%;
  padding: .3rem;
  width: 2.3rem;
  height: 2.3rem;
  color: var(--black);
}

.sidenav {
  height: 0; 
  width: 100%;
  position: fixed;
  z-index: 1;
  bottom: 0;
  left: 0;
  background-color: #F4F8E1;
  overflow-y: auto;
  transition: height 0.5s ease-in-out;
  padding: 0;
}

.sidenav.open {
  height: 90%;
}


#nav-toggle {
  font-size: 30px;
  display: none;
  position: absolute;
  z-index: 2;
  top: 2rem;
  left: 2rem;
  cursor: pointer;
}

#nav-toggle ion-icon {
  color: orange;
}

.model-item img {
  border-radius: 5%;
}

.model-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 0 0 auto;
  text-align: center;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
  padding: 10px;
  border-radius: 5%;
  cursor: pointer;
  scroll-snap-align: start;
  transition: all 0.5s ease-in-out;
}

.model-item.active {
  background-color: #CBFA56;
}

.category-row::-webkit-scrollbar {
  height: 4px; 
}

.category-row::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 4px;
}

.category-row::-webkit-scrollbar-track {
  background: transparent;
}

p.name {
  font-size: 1rem;
  margin: 0;
  font-weight: 700;
  margin-top: .4rem;
}

.navigation-content {
  padding-left: 1rem;
  padding-bottom: 1rem;
}

p.company {
  font-size: .9rem;
  font-weight: 500;
  margin: 0;
  color: #999999;
}

.category-row {
  display: flex;
  gap: .8rem;
  overflow-x: auto;
  padding: 0.5rem 0;
  scroll-snap-type: x mandatory;
}

.navigation-content h3 {
  margin-top: 1.5rem;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}
  
.sidenav a:hover {
  color: #f1f1f1;
}
  
.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}
  
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}

  #open-nav { 
    top: 10px;
  }
}

#open-nav {
  top:20px;
  left: 20px;
}

#place-button{
  position: absolute;
  bottom: 6rem;
  border-radius: 1rem;
  border: none;
  background-color: #a7dc22;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  left: calc(50% - 50px);
  width: 50%;
  left: auto;
  height: 3rem;
  display: none; /*to change*/
  transition: all 0.5s ease-in-out;
}

#submit-button {
  position: absolute;
  bottom: 20px;
  right: 1.5rem;
  min-width: 9rem !important;
  max-width: 40% !important;
  height: 3rem !important;
  background-color: #5db6f1;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  color: #484848;
  border: none;
  border-radius: 1rem !important;
  text-align: center;
  line-height: 35px;
  display: none;
}

#popup {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  height: 50vh;
  max-width: 400px;
  background-color: var(--creamy-white);
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  padding: 1.5rem;
  overflow: hidden;
  overflow-y: auto;
}

.popup-section-p {
  font-weight: 300;
}

.popup-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #ddd;
  padding-bottom: 1rem;
}


.popup-title {
  font-size: 2rem;
  color: #ff5733;
  margin: 0;
}

.popup-company {
  font-size: 1.2rem;
  font-family: "Quicksand", sans-serif;
  font-weight: 500;
  color: var(--black);
  margin: 0;
}

.popup-close {
  background: none;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
  color: #999;
}

.popup-close ion-icon {
  color: var(--black) !important;
}

.popup-section {
  margin-top: 16px;
}

.popup-section h3 {
  font-size: 1.2rem;
  font-weight: 600;
  color: var(--black);
  padding: .7rem;
  border-radius: 1rem;
  background-color: #CBFA56;
  margin: 0 0 8px;
}

.sustainability-icons {
  display: flex;
  gap: 8px;
  margin: 8px 0;
}

.sustainability-icons ion-icon {
  font-size: 1.5rem;
  color: #ff9800;
}

.popup-delete {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e53935;
  color: #fff;
  border: none;
  border-radius: .5rem;
  padding: 10px;
  font-size: 1rem;
  cursor: pointer;
  margin-top: 16px;
  text-align: center;
}

.popup-sections {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.popup-delete ion-icon {
  /* margin-right: 8px; */
  color: #fff;
  font-size: 1.2rem;
  padding: auto;
}


.preview-container {
  
}

.category-row .model-item.active {
  border: none;
}


#info-container {
  display: block;
}

/* #ARButton {
  position: absolute;
  bottom: 20px;
  left: calc(50% - 50px);
  display: block;
  background-color: #007bff !important;
} */

#ARButton.styled-ar-button {
  background-color: #b0d1f4 !important;
  color: #000 !important;
  font-size: 16px;
  font-weight: bold;
  border: none !important;
  opacity: 1 !important;
  z-index: 0 !important;
  border-radius: 1rem !important;
  height: 3rem !important;
  left: auto !important;
  min-width: 12rem !important;
  max-width: 15rem !important;
  padding: 10px 20px;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-around !important;
  align-items: center;
  justify-content: center;
}

#ARButton.styled-ar-button::before {
  content: url("/assets/ar-icon.svg");
  color: #fff !important;
  width: 2rem;
}

#ARButton.stop-ar-button {
  background-color: #f29a9a !important;
  color: #000 !important;
  font-size: 16px;
  font-weight: bold;
  border: none !important;
  opacity: 1 !important;
  z-index: 0 !important;
  border-radius: 1rem !important;
  height: 3rem !important;
  left: 1.5rem !important;
  min-width: 9rem !important;
  max-width: 40% !important;
  padding: 10px 20px;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-around !important;
  align-items: center;
  justify-content: center;
}

#ARButton.stop-ar-button-centered {
  background-color: #f29a9a !important;
  color: #000 !important;
  font-size: 16px;
  font-weight: bold;
  border: none !important;
  opacity: 1 !important;
  z-index: 0 !important;
  border-radius: 1rem !important;
  height: 3rem !important;
  left: auto !important;
  min-width: 9rem !important;
  max-width: 40% !important;
  padding: 10px 20px;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-around !important;
  align-items: center;
  justify-content: center;
}



#ARButton.stop-ar-button::before {
  content: url("/assets/ar-icon.svg");
  color: #fff !important;
  width: 2rem;
}

#ARButton {
  transition: all 0.5s ease-in-out;
}





.room-card {
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 16px;
  margin: 16px;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s, box-shadow 0.2s;
}

.room-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.room-card-header {
  margin-bottom: 8px;
}

.room-card-header h2 {
  font-size: 20px;
  color: #000;
  margin: 0;
}

.room-card-body p {
  margin: 8px 0;
  color: #666;
}

.room-card-actions {
  margin-top: 16px;
}

.room-card-actions .view-room {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 8px 16px;
  cursor: pointer;
  transition: background-color 0.2s;
}

.room-card-actions .view-room:hover {
  background-color: #0056b3;
}
